[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
django = "*"
django-celery-results = "*"
redis = "*"
celery = "==4.2.0"
uwsgi = "*"
requests = "*"

[requires]
python_version = "3.7"
